# Database
DATABASE_URL="postgresql://username:password@host:5432/database?sslmode=require"

# NextAuth
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Admin User (created on seed)
ADMIN_EMAIL="admin@crema-arena.com"
ADMIN_PASSWORD="admin123"
